name: saw-suite

on:
  push:
    tags: ["[0-9]+.[0-9]+(.[0-9]+)?"]
    branches: [main, "release-**", ci-test]
  pull_request:
  schedule:
    - cron: "0 10 * * *" # 10am UTC -> 2/3am PST
  workflow_dispatch:

env:
  # The CACHE_VERSION can be updated to force the use of a new cache if
  # the current cache contents become corrupted/invalid.  This can
  # sometimes happen when (for example) the OS version is changed but
  # older .so files are cached, which can have various effects
  # (e.g. cabal complains it can't find a valid version of the "happy"
  # tool).
  CACHE_VERSION: 1
  DOCKER_IMAGE: ghcr.io/galoisinc/saw-suite
  DOCKER_IMAGE_TAG: nightly
  ROCKY_OS: rocky-linux-9-7
  GHC_VERSION: 9.4.8
  CABAL_VERSION: 3.10.3.0


jobs:
  # UBI9 is the only platform that needs to be built in a docker container
  # all other platforms are built on native gitlab runners.
  build-haskell-rocky:
    runs-on: ubuntu-latest
    env:
      BOOTSTRAP_HASKELL_NONINTERACTIVE: 1
      BOOTSTRAP_HASKELL_MINIMAL: 1
    container:
      image: rockylinux/rockylinux:9.7

    steps:
      - uses: actions/checkout@v6

      - name: Install dependencies
        run: |
          dnf install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-9.noarch.rpm
          dnf update -y
          dnf -y install git zlib-devel ncurses-devel ncurses-compat-libs gcc gcc g++ \
            gmp gmp-devel make ncurses xz perl pkgconfig
          dnf clean all

      - name: Install ghcup, GHC, cabal
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://get-ghcup.haskell.org | sh -s -- -y
          echo "$HOME/.ghcup/bin" >> $GITHUB_PATH

      - name: Setup haskell environment
        run: |
          ghcup install ghc ${{ env.GHC_VERSION }}
          ghcup install cabal ${{ env.CABAL_VERSION }}
          cabal update
          ghcup set ghc ${{ env.GHC_VERSION }}
          ghc --version

      - name: Clone SAW
        shell: bash
        run: .github/ci.sh clone_saw_and_submods

      - name: Build
        shell: bash
        run: |
          .github/workflows/build_haskell.sh

      - uses: actions/upload-artifact@v4
        with:
          path: dist/bin
          name: haskell-tools-${{ env.ROCKY_OS }}-${{ runner.arch }}-bins

  # UBI9 is the only platform that needs to be built in a docker container
  # all other platforms are built on native gitlab runners.
  build-mir-json-rocky:
    runs-on: ubuntu-latest
    container:
      image: rockylinux/rockylinux:9.7
    steps:
      - name: Install dependencies
        run: |
          dnf install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-9.noarch.rpm
          dnf update -y
          dnf -y install git gcc gcc-c++ make nodejs perl jq
          dnf clean all
      - uses: actions/checkout@v6
      - name: Clone SAW
        shell: bash
        run: .github/ci.sh clone_saw_and_submods
      - name: Install Rust
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          source "$HOME/.cargo/env"
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH
      - name: Setup Rust environment
        run: |
          RUST_TOOLCHAIN="$(.github/ci.sh get_saw_ci_env_var RUST_TOOLCHAIN)"
          rustup default "$RUST_TOOLCHAIN"
          rustup component add rustc-dev rust-src
      - run: cargo test --locked
        working-directory: deps/saw-script/deps/mir-json
      - name: Install mir-json binaries
        run: cargo install --locked
        working-directory: deps/saw-script/deps/mir-json
      - name: Translate modified Rust standard libraries
        run: mir-json-translate-libs
        working-directory: deps/saw-script/deps/mir-json
      # NB: These binary distributions will not work unless you have the
      # appropriate Rust toolchain installed beforehand.
      - name: Extract executables to binary distribution
        shell: bash
        run: .github/ci.sh setup_dist_bins
        working-directory: deps/saw-script/deps/mir-json
      - name: Compress binary distribution
        shell: bash
        run: |
          NAME="mir-json-${{ env.ROCKY_OS }}-${{ runner.arch }}"
          echo "NAME=$NAME" >> $GITHUB_ENV
          .github/ci.sh zip_dist $NAME
        working-directory: deps/saw-script/deps/mir-json
      - name: Upload binary distribution
        uses: actions/upload-artifact@v4
        if: github.event.pull_request.head.repo.fork == false && github.repository_owner == 'GaloisInc'
        with:
          name: ${{ env.NAME }}
          path: "deps/saw-script/deps/mir-json/${{ env.NAME }}.tar.gz*"
          if-no-files-found: error
