name: saw-suite
on:
  push
  # push:
  #   tags: ["[0-9]+.[0-9]+(.[0-9]+)?"]
  #   branches: [main, "release-**", ci-test]
  # pull_request:
  # schedule:
  #   - cron: "0 10 * * *" # 10am UTC -> 2/3am PST
  # workflow_dispatch:

env:
  # The CACHE_VERSION can be updated to force the use of a new cache if
  # the current cache contents become corrupted/invalid.  This can
  # sometimes happen when (for example) the OS version is changed but
  # older .so files are cached, which can have various effects
  # (e.g. cabal complains it can't find a valid version of the "happy"
  # tool).
  CACHE_VERSION: 1
  DOCKER_IMAGE: ghcr.io/galoisinc/saw-suite
  DOCKER_IMAGE_TAG: nightly
  REDHAT_OS: redhat-ubi9

jobs:
  build-on-ubi9:
    runs-on: ubuntu-latest
    env:
      BOOTSTRAP_HASKELL_NONINTERACTIVE: 1
      BOOTSTRAP_HASKELL_MINIMAL: 1
      GHC_VERSION: 9.4.8
      CABAL_VERSION: 3.10.3.0
    container:
      image: redhat/ubi9:latest
      options: --user root

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          dnf install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-9.noarch.rpm
          dnf update -y
          dnf -y install git zlib-devel ncurses-devel ncurses-compat-libs gcc gcc g++ \
            gmp gmp-devel make ncurses xz perl pkgconfig
          dnf clean all

      - name: Install ghcup, GHC, cabal
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://get-ghcup.haskell.org | sh -s -- -y
          echo "$HOME/.ghcup/bin" >> $GITHUB_PATH

      - name: Setup haskell environment
        run: |
          ghcup install ghc $GHC_VERSION
          ghcup install cabal $CABAL_VERSION
          cabal update
          ghcup set ghc $GHC_VERSION
          ghc --version

      - name: Clone SAW
        shell: bash
        run: .github/ci.sh clone_saw_and_submods

      - name: Build
        shell: bash
        run: |
          .github/workflows/build_haskell.sh

      - uses: actions/upload-artifact@v4
        with:
          path: dist/bin
          name: haskell-tools-${{ env.REDHAT_OS }}-${{ runner.arch }}-bins

  build-haskell:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, macos-15, ubuntu-22.04-arm, ubuntu-24.04-arm]
        ghc-version: ["9.4.8"]
        cabal: [ '3.10.3.0' ]
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Clone SAW
        shell: bash
        run: .github/ci.sh clone_saw_and_submods

      - uses: haskell-actions/setup@v2
        id: setup-haskell
        with:
          ghc-version: ${{ matrix.ghc-version }}
          cabal-version: ${{ matrix.cabal }}

      - uses: actions/cache/restore@v3
        name: Restore cache store cache
        with:
          path: |
            ${{ steps.setup-haskell.outputs.cabal-store }}
            deps/saw-script/dist-newstyle
          key: ${{ env.CACHE_VERSION }}-cabal-${{ matrix.os }}-${{ matrix.ghc-version }}-${{ hashFiles(format('cabal.GHC-{0}.config', matrix.ghc-version)) }}-${{ github.sha }}
          restore-keys: |
            ${{ env.CACHE_VERSION }}-cabal-${{ matrix.os }}-${{ matrix.ghc-version }}-${{ hashFiles(format('cabal.GHC-{0}.config', matrix.ghc-version)) }}-

      - shell: bash
        run: .github/workflows/build_haskell.sh

      - uses: actions/upload-artifact@v4
        with:
          path: dist/bin
          name: haskell-tools-${{ matrix.os }}-${{ runner.arch }}-bins

      - uses: actions/cache/save@v3
        name: Save cache store cache
        if: always()
        with:
          path: |
            ${{ steps.setup-haskell.outputs.cabal-store }}
            deps/saw-script/dist-newstyle
          key: ${{ env.CACHE_VERSION }}-cabal-${{ matrix.os }}-${{ matrix.ghc-version }}-${{ hashFiles(format('cabal.GHC-{0}.config', matrix.ghc-version)) }}-${{ github.sha }}
            ${{ env.CACHE_VERSION }}-cabal-${{ matrix.os }}-${{ matrix.ghc-version }}-${{ hashFiles(format('cabal.GHC-{0}.config', matrix.ghc-version)) }}-

  build-mir-json:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, macos-15, ubuntu-22.04-arm, ubuntu-24.04-arm]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Clone SAW
        shell: bash
        run: .github/ci.sh clone_saw_and_submods
      - name: Deps
        run: |
          RUST_TOOLCHAIN="$(.github/ci.sh get_saw_ci_env_var RUST_TOOLCHAIN)"
          rustup default "$RUST_TOOLCHAIN"
          rustup component add rustc-dev rust-src
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: "true"
          prefix-key: "${{ env.CACHE_VERSION }}-${{ matrix.os }}"
          workspaces: deps/saw-script/deps/mir-json
      - run: cargo test --locked
        working-directory: deps/saw-script/deps/mir-json
      - name: Install mir-json binaries
        run: cargo install --locked
        working-directory: deps/saw-script/deps/mir-json
      - name: Translate modified Rust standard libraries
        run: mir-json-translate-libs
        working-directory: deps/saw-script/deps/mir-json
      # NB: These binary distributions will not work unless you have the
      # appropriate Rust toolchain installed beforehand.
      - name: Extract executables to binary distribution
        shell: bash
        run: .github/ci.sh setup_dist_bins
        working-directory: deps/saw-script/deps/mir-json
      - name: Compress binary distribution
        shell: bash
        run: |
          NAME="mir-json-${{ matrix.os }}-${{ runner.arch }}"
          echo "NAME=$NAME" >> $GITHUB_ENV
          .github/ci.sh zip_dist $NAME
        working-directory: deps/saw-script/deps/mir-json
      - name: Upload binary distribution
        uses: actions/upload-artifact@v4
        if: github.event.pull_request.head.repo.fork == false && github.repository_owner == 'GaloisInc'
        with:
          name: ${{ env.NAME }}
          path: "deps/saw-script/deps/mir-json/${{ env.NAME }}.tar.gz*"
          if-no-files-found: error

  build-mir-json-ubi9:
    runs-on: ubuntu-latest
    container:
      image: redhat/ubi9:latest
    steps:
      - name: Install dependencies
        run: |
          dnf install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-9.noarch.rpm
          dnf update -y
          dnf -y install git gcc gcc-c++ make nodejs perl
          dnf clean all
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Clone SAW
        shell: bash
        run: .github/ci.sh clone_saw_and_submods
      - name: Install Rust
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          source "$HOME/.cargo/env"
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH
      - name: Setup Rust environment
        run: |
          RUST_TOOLCHAIN="$(.github/ci.sh get_saw_ci_env_var RUST_TOOLCHAIN)"
          rustup default "$RUST_TOOLCHAIN"
          rustup component add rustc-dev rust-src
      - run: cargo test --locked
        working-directory: deps/saw-script/deps/mir-json
      - name: Install mir-json binaries
        run: cargo install --locked
        working-directory: deps/saw-script/deps/mir-json
      - name: Translate modified Rust standard libraries
        run: mir-json-translate-libs
        working-directory: deps/saw-script/deps/mir-json
      # NB: These binary distributions will not work unless you have the
      # appropriate Rust toolchain installed beforehand.
      - name: Extract executables to binary distribution
        shell: bash
        run: .github/ci.sh setup_dist_bins
        working-directory: deps/saw-script/deps/mir-json
      - name: Compress binary distribution
        shell: bash
        run: |
          NAME="mir-json-${{ env.REDHAT_OS }}-${{ runner.arch }}"
          echo "NAME=$NAME" >> $GITHUB_ENV
          .github/ci.sh zip_dist $NAME
        working-directory: deps/saw-script/deps/mir-json
      - name: Upload binary distribution
        uses: actions/upload-artifact@v4
        if: github.event.pull_request.head.repo.fork == false && github.repository_owner == 'GaloisInc'
        with:
          name: ${{ env.NAME }}
          path: "deps/saw-script/deps/mir-json/${{ env.NAME }}.tar.gz*"
          if-no-files-found: error

  package-distribution:
    runs-on: ${{ matrix.os }}
    needs: [build-haskell, build-mir-json]
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, macos-15, ubuntu-22.04-arm, ubuntu-24.04-arm]
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Clone SAW
        shell: bash
        run: .github/ci.sh clone_saw
      - name: Download Haskell binaries
        uses: actions/download-artifact@v4
        with:
          name: haskell-tools-${{ matrix.os }}-${{ runner.arch }}-bins
          path: dist/saw-suite/bin
      - name: Download mir-json binaries
        uses: actions/download-artifact@v4
        with:
          name: mir-json-${{ matrix.os }}-${{ runner.arch }}
      - name: Account for a quirk in runner OS naming
        run: echo RUNNER_OS=$(echo ${{ matrix.os }} | sed 's/-arm//') >> $GITHUB_ENV
      - name: Download solver binaries
        run: |
          SOLVER_PKG_VERSION="$(.github/ci.sh get_saw_ci_env_var SOLVER_PKG_VERSION)"
          mkdir -p solver-bin
          cd solver-bin
          curl -o bins.zip -sL "https://github.com/GaloisInc/what4-solvers/releases/download/$SOLVER_PKG_VERSION/${{ env.RUNNER_OS }}-${{ runner.arch }}-bin.zip"
          unzip -o bins.zip
          rm bins.zip
          cd ..
      - name: Build archive
        run: |
          cp -v solver-bin/* dist/saw-suite/bin
          tar xzvf mir-json-${{ matrix.os }}-${{ runner.arch }}.tar.gz
          mv -v mir-json-${{ matrix.os }}-${{ runner.arch }}/bin/* dist/saw-suite/bin
          mv -v mir-json-${{ matrix.os }}-${{ runner.arch }}/rlibs dist/saw-suite/rlibs
          chmod a+x dist/saw-suite/bin/*
      - name: Upload final artifact
        uses: actions/upload-artifact@v4
        with:
          path: dist
          name: saw-suite-${{ env.RUNNER_OS }}-${{ runner.arch }}

  package-distribution-ubi9:
    runs-on: ubuntu-latest
    needs: [build-haskell] #, build-mir-json]
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Clone SAW
        shell: bash
        run: .github/ci.sh clone_saw
      - name: Download Haskell binaries
        uses: actions/download-artifact@v4
        with:
          name: haskell-tools-${{ env.REDHAT_OS }}-${{ runner.arch }}-bins
          path: dist/saw-suite/bin
      - name: Download mir-json binaries
        uses: actions/download-artifact@v4
        with:
          name: mir-json-${{ env.REDHAT_OS }}-${{ runner.arch }}
      # NOTE: enable when https://github.com/GaloisInc/what4-solvers/pull/76 lands
      # - name: Download solver binaries
      #   run: |
      #     SOLVER_PKG_VERSION="$(.github/ci.sh get_saw_ci_env_var SOLVER_PKG_VERSION)"
      #     mkdir -p solver-bin
      #     cd solver-bin
      #     curl -o bins.zip -sL "https://github.com/GaloisInc/what4-solvers/releases/download/$SOLVER_PKG_VERSION/${{ env.REDHAT_OS }}-${{ runner.arch }}-bin.zip"
      #     unzip -o bins.zip
      #     rm bins.zip
      #     cd ..
      - name: Build archive
        run: |
          # NOTE: enable copying the solver when https://github.com/GaloisInc/what4-solvers/pull/76 lands
          # cp -v solver-bin/* dist/saw-suite/bin
          tar xzvf mir-json-${{ env.REDHAT_OS }}-${{ runner.arch }}.tar.gz
          mv -v mir-json-${{ env.REDHAT_OS }}-${{ runner.arch }}/bin/* dist/saw-suite/bin
          mv -v mir-json-${{ env.REDHAT_OS }}-${{ runner.arch }}/rlibs dist/saw-suite/rlibs
          chmod a+x dist/saw-suite/bin/*
      - name: Upload final artifact
        uses: actions/upload-artifact@v4
        with:
          path: dist
          name: saw-suite-${{ env.REDHAT_OS }}-${{ runner.arch }}

  build-image:
    runs-on: ${{ matrix.os }}
    if: github.ref == 'refs/heads/main' &&
        github.event.pull_request.head.repo.fork == false &&
        github.repository_owner == 'GaloisInc'
    needs: [package-distribution]
    strategy:
      matrix:
        # Docker image is based on the latest stable Ubuntu,
        # this can be extended if the need arises
        os: [ubuntu-24.04, ubuntu-24.04-arm]
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Download saw-suite
        uses: actions/download-artifact@v4
        with:
          path: dist
          name: saw-suite-ubuntu-24.04-${{ runner.arch }}

      - name: Let's see what artifacts we have
        run: |
          chmod +x dist/saw-suite/bin/*
          dist/saw-suite/bin/saw --version

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Docker metadata
        uses: docker/metadata-action@v5
        id: meta
        with:
          images: ${{ env.DOCKER_IMAGE }}
        env:
          DOCKER_METADATA_ANNOTATIONS_LEVELS: manifest,manifest-descriptor

      - name: Log in to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push by digest
        uses: docker/build-push-action@v6
        id: build
        with:
          context: .
          tags: ${{ env.DOCKER_IMAGE }}
          annotations: ${{ steps.meta.outputs.annotations }}
          labels: ${{ steps.meta.outputs.labels }}
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true

      - name: Export digest
        run: |
          mkdir -p ${{ runner.temp }}/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ runner.arch }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

  push-image:
    runs-on: ubuntu-22.04
    needs: [build-image]
    if: github.ref == 'refs/heads/main' &&
        github.event.pull_request.head.repo.fork == false &&
        github.repository_owner == 'GaloisInc'
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-*
          merge-multiple: true

      - name: Log in to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Docker metadata
        uses: docker/metadata-action@v5
        id: meta
        with:
          images: ${{ env.DOCKER_IMAGE }}
          tags: |
            type=raw,value=${{ env.DOCKER_IMAGE_TAG }},enable=${{ github.ref == format('refs/heads/{0}', 'main') }}
        env:
          DOCKER_METADATA_ANNOTATIONS_LEVELS: index

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        # Build and run a complex command line with eval to avoid wrong word splitting on spaces in the annotations.
        # Explicitly using `--tag` to set the docker image name/tag
        run: |
          eval "docker buildx imagetools create --tag ${{ env.DOCKER_IMAGE }}:${{ env.DOCKER_IMAGE_TAG }} ${ANNOTATIONS} \
            $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(jq -cr '.annotations | map("--annotation \"" + . + "\"") | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.DOCKER_IMAGE }}@sha256:%s ' *)"

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.DOCKER_IMAGE }}:${{ env.DOCKER_IMAGE_TAG }}
